$white: #fff;
$black: #000;

$red: #cc0000;
$red-dark: #9d0000;

//Shades of gray
$gray-lighter: #f8f8f8;
$gray-light: #f3f3f3;
$gray-medium: #f0f0f0;
$gray-dark: #bdbdbd;
$gray-darker: #373737;

$gray-border: #e3e3e3;
$gray-links: #d1d0d0;

$gray-summary-odd: #fbfbfb;
$gray-summary-even: #f4f4f4;
$gray-summary-text: #adadad;