.header{
	border: 1px solid $gray-border;
	margin: 4.2rem 0 2.8rem;
	overflow: auto;

	.header__icon{
		display: inline-block;
		line-height: normal;
		vertical-align: middle;
		padding: 13px 0px 0px 12px;
		background: #c00;
		margin-right: 1.5rem;
	}
	.header__title{
		font-size: 18px;
		color: $gray-darker;
		margin: 0;
		display: inline-block;
		line-height: normal;
		vertical-align: middle;
		font-weight: normal;
	}
}


.toolbar{
	margin-bottom: 2.3rem;
	float: right;

	.field{
		&.field__search{
			background: $gray-medium;
			float: left;
			border-radius: 0.5rem;
		}

		.field__input{
			border: none;
			background: $gray-medium;
			padding: 0.6rem;
			text-align: right;
			float: left;
		}

		.button{
			margin: 0;
		}
	}


	.toolbar__action{
		margin: 0 0.5rem;
		float: right;

		&:last-child{
			border-left: 1px solid $gray-border;

			.button{
				margin: 0 0 0 1rem;
			}
		}
	}
}